$green: #19564e;
$light-green: #668a7f;
$light: #e1e2d3;
$light-brown: #bfc4a9;
$brown: #8b866f;

.main {
  font-family: poppins;
  color: $light;
  margin-top: 20px;
  background-color: $light-green;
  width: 1000px;
  height: 800px;

  .container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  li {
    border: none;
    text-align: center;
    width: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 5px solid $brown;
    margin: 5px;
    transition: all 0.5s;
  }

  li:hover {
    -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.41);
  }

  a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
