$green: #19564e;
$light-green: #668a7f;
$light: #e1e2d3;
$light-brown: #bfc4a9;
$brown: #8b866f;

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: poppins;
  h1 {
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  p {
    text-transform: capitalize;
  }
}
.card {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: $light-brown;
  border-radius: 10px;
  color: white;

  button {
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $light-green;
    color: $light;
    font-family: poppins;
    border: 1px solid transparent;
    transition: 0.4s;
    margin-right: 20px;
  }
  button:hover {
    color: $light-green;
    border: 1px solid $green;
    background-color: transparent;
  }
}
.imgsCont {
  width: 50%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rightSide {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-between;
}

.quantCont {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: $light;
  padding: 10px 10px;
  color: $brown;
  font-family: poppins;

  .plusMinus {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
